extends layout

block content
	#inset
		h1 Uh oh! An error occured. If you don't mind, <br/>please send along the error to team@siliconunited.com.
		div(style='max-width:800px;color:pink;background-color: black;padding:2%;')
			code(style="background-color:transparent") #{err}
