extends layout

block content
	#inset
		.span-6
			h3.major.black Open Positions
			each jobGroup, key in jobs
				h4.black #{key}
				.table-wrapper.color3
					table
						thead
							tr
								th.color2 Job
								th.color2 Location
						tbody
							each job, index in jobGroup
								tr.color1
									td
										a(href='job/' + job.id) #{job.name}
									td #{job.location}	
							//- tfoot
							//- 	tr
							//- 		td(colspan='2')
							//- 		td 100.00
