doctype html
//
	Silicon United
	siliconunited.com
html(lang="en")
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/font-awesome-animation/dist/font-awesome-animation.min.css')
		noscript
			link(rel='stylesheet', href='/css/noscript.css')
				 
		body(id=page, class= (page === 'landing') ? '' : 'alt')
			
			block nav
				if page === 'landing'
					.nav
						a.button.color1.no-border.hiring(href='/jobs', onclick='handleJobsClick("LandingPage");') We're Hiring!
						a.button.special(href='mailto:team@siliconunited.com', onclick='handleContactSalesClick("LandingPage");') CONTACT SALES
				else 
					.nav.fill
						a(href='/') 
							img(src='/images/logo-nav.png')
						a.button.color1.no-border.hiring(href='/jobs', onclick='handleJobsClick("Page");') We're Hiring!
						a.button.special(href='mailto:team@siliconunited.com', onclick='handleContactSalesClick("Page");') CONTACT SALES
			
			// Page Wrapper
			#page-wrapper
				// Wrapper
				#wrapper
					
					block content
					
					block footer
		
		// Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-91476539-1', 'auto');
			ga('send', 'pageview');
		
		script.
			function handleOutboundLinkClicks(event) {
				ga('send', 'event', {
					eventCategory: 'Outbound Link',
					eventAction: 'click',
					eventLabel: event.target.href
				});
			}
			function handleContactSalesClick(label) {
				ga('send', 'event', { 
					'eventCategory': 'ContactSales', 
					'eventAction': 'click',
					'eventLabel': label, 
					'eventValue': 1 
				});
			}
			function handleJobsClick(label) {
				ga('send', 'event', { 
					'eventCategory': 'Hiring', 
					'eventAction': 'click',
					'eventLabel': label, 
					'eventValue': 1
				});
			}
		block js
			
