doctype html
//
	Silicon United
	siliconunited.com
html(lang="en")
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		link(rel='stylesheet', href='css/main.css')
		noscript
			link(rel='stylesheet', href='css/noscript.css')
	body(id=page)
		block nav
			.nav
				a.button.color1.no-border.hiring(href='/jobs') We're Hiring!
				a.button.special(href='mailto:team@siliconunited.com') CONTACT SALES
		
		// Page Wrapper
		#page-wrapper
			// Wrapper
			#wrapper
				
				block content
				
				block footer
		block js
