extends layout

block content
	h1= job.title
	
	h2 About Us:
	p #{job.about}
	
	h2 Description:
	p
		| #{job.description}
		
	h3 Specific job duties include:
	ul
		li
			| Generate and maintain setup sheets. Create and modify programs for equipment in the area.
		li Write and submit Engineering Change Orders based on Engineering Redlines.
		li Follow experiment plans, take data, and enter data in spreadsheets.
		li Gather requested materials (EMM forms), equipment, and supplies for experiments.
		li
			| Document (in writing and with pictures) assembly or process issues, NPI or regular production.
		li
			| First responder to production/QA flags. Disposition parts for rework, scrap, or acceptance. Propose corrective action where appropriate.
		li
			| Recognizes deviation from accepted practice, assesses the reason for the deviation, proposes plan to address deviation. Call for the required help.
		li Propose updates to documentation based on Associate feedback or troubleshooting.
		li Train Associates on processes.
	h3 Qualifications:
	h3
		| The successful candidate will possess the following combination of education and experience:
	ul
		li Must be a U.S. Citizen or have U.S. Permanent Resident status.
		li
			| 2 years working with microelectronics processes (epoxy dispense, die placement, wire-bonding, welding, etc.).
		li
			| Experience with various electronics materials (conductive epoxies, non-conductive epoxies, solders, circuit boards, die, passives, etc.).
		li Experience programming process equipment.
		li Excellent hand eye coordination.
		li Ability to work in a clean room environment.
		li
			| Experience with various computer programs and be progressive in learning new programs: Microsoft applications: Word, Excel. 2D drawing programs for programming and setup sheets.
		li Proficient with Oracle MRP application – be able to research lot numbers
		li Must be able to quickly adjust activities to accommodate changing priorities.
		li
			| Must be able to multitask, and use good judgment to optimize execution of multiple requests.
		li Ability to work independently and elicit support and cooperation of co-workers.
		li
			| Must be able to follow/interpret/question verbal and written technical requests, understand Cartesian coordinates, be observant, and call for clarification if a problem is suspected
		li
			| Must have good written and verbal English communication skills, be able to write flags or emails clearly communicating technical issues.
		li
			| Must have good comprehension skills, read and extract technical information from Process Specs, data sheets, and reports.
		li
			| Must have willingness and ability to work extended work day (after the other Associates have left and the machines are free), including occasional evenings and weekends.
	h3 Preferred Skills:
	p Basic working knowledge of electronic circuits.
	h3 Compliance
	p
		| This position's primary/essential functions are subject to US Government ITAR compliance requirements under current government contracts. Therefore, all applicants must be either a US Citizen or a holder of a current valid Green Card and must provide proof of citizenship or legal residency via a birth certificate, a current valid green card, unexpired passport, or a naturalization certificate. We encourage applicants to bring such proof to their interview. However, in no case will applicants be allowed to begin their scope of work in this specific position without providing such proof.
	p
		| All employment offers are contingent upon successful completion of our pre-employment drug screening and background/criminal check. Tektronix is an equal opportunity employer. Tektronix does not discriminate based on race, color, religion, sex, sexual orientation, gender identity, national origin, marital status, age, physical or mental disability (if the individual can perform the essential functions of the position with reasonable accommodation), pregnancy, childbirth or related medical condition, veteran's status, citizenship status, ancestry or any other status protected by applicable federal, state, or local law.
	h2 How to Apply
	p
		| Apply Online. If you are a qualified individual with a disability or a disabled veteran, you have the right to request a reasonable accommodation if you are unable or limited in your ability to use or access our Careers website as a result of your disability. If you need an accommodation or assistance in using our Careers website, please call 1-866-272-5573 or send an email to applyassistance@fortive.com. A representative will contact you regarding your accommodation request.
	p
		| Candidates with less education/experience may be considered for other opportunities.
	h3 Fortive Corporation Overview:
	p
		| Fortive is a diversified industrial growth company comprised of global businesses that are recognized leaders in attractive markets. With more than $6 billion in annual revenues, Fortive’s well-known brands hold leading positions in field instrumentation, transportation, sensing, product realization, automation and specialty, and franchise distribution.
	p
		| Fortive is headquartered in Everett, Washington and employs a team of more than 24,000 research and development, manufacturing, sales, distribution, service and administrative employees in more than 40 countries around the world. Our team grows by tackling challenges that accelerate progress and further their careers. With a culture rooted in continuous improvement, the core of our company’s operating model is the Fortive Business System. For more information please visit: www.fortive.com.
	br
	.info
		strong Organization:
		|  Tektronix
		br
		strong Job:
		|  Manufacturing / Operations
		br
		strong Primary Location:
		|  North America-United States-OR-Beaverton
		br
		strong Schedule:
		|  Full-time
		br
	br
